<div class="frame">
    <div class="frame2">
      <div class="frame3">
        <div class="frame4">
          <div class="button">
            <div class="text">sloth GPT 7.0</div>
            <img class="caret-down" src="caret-down0.svg" />
          </div>
        </div>
        <div class="frame5">
          <div class="button-icon">
            <img class="monotone-add" src="monotone-add0.svg" />
          </div>
          <div class="button-icon2">
            <img class="monotone-add2" src="monotone-add1.svg" />
          </div>
        </div>
        <div class="frame6">
          <div class="button-icon3">
            <img class="monotone-add3" src="monotone-add2.svg" />
          </div>
          <div class="button-icon3">
            <img class="monotone-add4" src="monotone-add3.svg" />
          </div>
          <div
            class="avatar"
            style="
              background: url(avatar0.png) center;
              background-size: cover;
              background-repeat: no-repeat;
            "
          >
            <div class="avatar-indicator"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame7">
      <div class="frame8">
        <img class="avatar2" src="avatar1.png" />
        <div class="frame9">
          <div class="frame10">
            <div class="frame11">
              <div class="frame12">
                <div class="vermillion-gray">You</div>
              </div>
              <div class="_02-22-am">02:22 AM</div>
            </div>
            <div class="frame13">
              <div class="lorem-ipsum-dolor-sit-amet">
                do androids truly dream of electric sheeps or not?
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame8">
        <div class="avatar3">
          <img class="cpu" src="cpu0.svg" />
        </div>
        <div class="frame9">
          <div class="frame10">
            <div class="frame11">
              <div class="frame12">
                <div class="vermillion-gray">slothGPT</div>
              </div>
              <div class="_02-22-am">02:22 AM</div>
            </div>
            <div class="frame14">
              <div
                class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat"
              >
                <span>
                  <span
                    class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-span"
                  >
                    The question of whether androids dream of electric sheep is
                    the title and central theme of the science fiction novel Do
                    Androids Dream of Electric Sheep? by Philip K. Dick.
                    <br />
                    <br />
                  </span>
                  <ol
                    class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-span2"
                  >
                    <li>
                      The book explores a world where androids are
                      indistinguishable from humans except for a lack of empathy.
                      The story follows Rick Deckard, a bounty hunter who tracks
                      down rogue androids.
                    </li>
                    <li>
                      The title refers to the empathy test used to distinguish
                      between humans and androids. The test involves administering
                      a fictional scenario and evaluating the subject&#039;s
                      emotional response. Electric sheep are rare, real animals
                      that people own as status symbols. Owning one is seen as a
                      sign of empathy and a connection to the natural world.
                    </li>
                    <li>
                      The book never definitively answers the question of whether
                      androids dream or not. It explores the nature of reality,
                      consciousness, and what it means to be human.
                    </li>
                    <li>
                      The book inspired the movie Blade Runner, though there are
                      some key differences in plot.
                    </li>
                  </ol>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame8">
        <img class="avatar2" src="avatar3.png" />
        <div class="frame9">
          <div class="frame10">
            <div class="frame11">
              <div class="frame12">
                <div class="vermillion-gray">You</div>
              </div>
              <div class="_02-22-am">02:22 AM</div>
            </div>
            <div class="frame13">
              <div class="lorem-ipsum-dolor-sit-amet">
                let’s say it does - what happens then?
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame15">
        <div class="frame8">
          <div class="avatar3">
            <img class="cpu2" src="cpu1.svg" />
          </div>
          <div class="frame9">
            <div class="frame10">
              <div class="frame11">
                <div class="frame12">
                  <div class="vermillion-gray">slothGPT</div>
                </div>
                <div class="_02-22-am">02:22 AM</div>
              </div>
              <img class="frame16" src="frame30.png" />
            </div>
          </div>
        </div>
        <div class="frame17">
          <div class="frame12">
            <img class="caret-left" src="caret-left0.svg" />
            <div class="_1-8">1/8</div>
            <img class="caret-right" src="caret-right0.svg" />
          </div>
          <div class="frame18">
            <img class="speaker-simple-high" src="speaker-simple-high0.svg" />
            <img class="copy-simple" src="copy-simple0.svg" />
            <img class="repeat" src="repeat0.svg" />
            <img class="thumbs-down" src="thumbs-down0.svg" />
            <img class="magic-wand" src="magic-wand0.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="frame19">
      <div class="frame20">
        <div class="frame21">
          <div class="button-icon2">
            <img class="monotone-add5" src="monotone-add4.svg" />
          </div>
          <div class="write-your-message-here">Message slothGPT...</div>
        </div>
        <div class="frame22">
          <div class="button-icon2">
            <img class="monotone-add6" src="monotone-add5.svg" />
          </div>
          <div class="button-icon4">
            <img class="monotone-add7" src="monotone-add6.svg" />
          </div>
        </div>
      </div>
      <div class="sloth-gpt-can-make-mistakes-check-our-terms-conditions">
        slothGPT can make mistakes. Check our Terms &amp; Conditions.
      </div>
    </div>
  </div>
  